/* Citation: line 3 to 72 are taken from James Grieve in class "js practice - Shopping List" example. Link: https://github.com/TECHCareers-by-Manpower/js-practice*/

* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: normal;
    background-color: aliceblue;
    border: 15px solid aliceblue;
}
.container {
    width: 80%;
    min-width: 400px;
    max-width: 1200px;
}

h1 {
    font-size: 35px;
    font-weight: bolder;
    margin: 16px 0 ;
}

h2 {
    font-size: 25px;
    font-weight: bolder;
    margin: 16px 0 ;
}

h3 {
    font-size: 25px;
    font-weight: bolder;
    margin: 16px 0 ;
}

h4 {
    font-size: 25px;
    font-weight: bolder;
    margin: 16px 0 ;
}

a {
    color: white;
    background-color: rgb(0, 151, 20);
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 6px;
    text-decoration: none;
}
input {
    height: 30px;
}
ul.empty {
    list-style: none;
    padding: 0;
}
ul {
    font-size: 20px;
    margin: 10px 0;
    list-style: circle;
    padding: 0 20px;
}
ul li {
    margin: 5px 0;
}
#error-output {
    font-size: 20px;
    margin: 10px 0;
    color: firebrick;
    font-weight: bold;
}