/* Citation: line 3 to 60 are taken from James Grieve in class "js practice - Shopping List" example.
   Link: https://github.com/TECHCareers-by-Manpower/js-practice*/
* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    background-color: rgb(140, 250, 150);
}
.container {
    width: 80%;
    min-width: 400px;
    max-width: 1200px;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(140, 250, 150);
    border-radius: 12px;
    padding: 30px;    
}
h1 {
    font-size: 35px;
    font-weight: bolder;
    margin: 16px 0;
    font-family: Helvetica;
    text-align: center;
}
h2 {
    font-size: 25px;
    font-weight: bolder;
    margin: 16px 0;
    font-family: Helvetica;
    background-color: rgb(110, 180, 110);
    border: 2px solid rgb(255, 170, 50);
    border-radius: 12px;
    padding: 20px; 
}
a {
    color: #555;
    background-color: rgb(255, 170, 50);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    width: 20%;
    float: left;
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
a:hover {
    background-color: rgb(110, 180, 110);
    color: black;
}
input {
    margin: 0;
    border: none;
    width: 80%;
    padding: 10px;
    float: left;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
ul.empty {
    list-style: none;
    padding: 0;
}
ul {
    font-size: 20px;
    margin: 10px 0;
    list-style: square;
    padding: 0 20px;
}
ul li {
    margin: 5px 0;
}
#error-output {
    font-size: 20px;
    margin: 10px 0;
    color: firebrick;
    font-weight: bold;
}
.complete {
    color: #555;
    background-color: rgb(255, 170, 50);
    font-weight: bold;
    font-size: 17px;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
  }
.complete:hover {
    background-color: rgb(110, 180, 110);
    color: black;
}
  .close {
    color: #555;
    background-color: rgb(255, 170, 50);
    font-weight: bold;
    font-size: 17px;
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}
.close:hover {
    background-color: rgb(110, 180, 110);
    color: black;
}
footer p {
    font-size: 20px;
    text-align: center;
    border-top:3px solid rgb(0, 0, 0) ;
    margin-top: 20px;
    padding-top: 10px;
}